/* CSS - General ------------------------------------------------------------ */

* {
    --site-background-color: rgb(20, 30, 50);
    --box-background-color: rgb(80, 90, 120);
    --box-border-color: rgb(0, 0, 0);
    --title-background-color: rgb(35, 50, 100);
    --text-color: rgb(230, 230, 230);
    --placeholder-text-color: rgb(150, 150, 150);
    --correct-response-background-color: rgb(80, 170, 120);
    --incorrect-response-background-color: rgb(180, 90, 120);
    --set-explorer-background-color: rgb(63, 63, 140);
    --set-background-color-1: rgb(130, 170, 200);
    --set-background-color-2: rgb(105, 135, 220);
    --selected-set-background-color: rgb(200, 200, 140);
    --link-color: blue;
    --error-color: red;
    --scrollbar-background-color: rgb(64, 80, 112);
    --scrollbar-bar-color: rgb(35, 50, 100);
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    scrollbar-color: var(--scrollbar-bar-color) var(--scrollbar-background-color);
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--site-background-color);
    overflow-x: hidden;
}

#container {
    box-sizing: border-box;
    margin-top: 1vh;
    height: 98vh;
    width: 98vw;
    max-width: 2500px;
    max-height: 3400px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}

.box {
    border: 2px solid var(--box-border-color);
    border-radius: 8px;
    background-color: var(--box-background-color);
}

.title {
    font-weight: normal;
    font-size: 1.5em;
    background-color: var(--title-background-color);
    padding: 6px;
    height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    white-space: nowrap;
}

/* Set explorer ------------------------------------------------------------ */

#set-explorer {
    height: 98vh;
    flex: 1;
    display: grid;
    grid-template-rows: 40px calc(100% - 40px - 1 * 30px) 30px;
    min-width: 96px;
    max-width: 98%;
}

    #set-explorer-title {
        grid-row: 1;
    }

    #set-explorer div {
        overflow: auto;
    }

    #set-explorer table {
        border-collapse: collapse;
        height: 100%;
        width: 100%;
        margin: 0;
    }

        #set-explorer table button {
            background-color: transparent;
            font-size: 0.8em;
            height: 24px;
            padding: 4px;
            text-align: left;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            white-space: nowrap;
            width: 100%;
        }

        #set-explorer table, tr, td {
            border: 1px solid var(--title-background-color);
            border-collapse: collapse
        }

        #set-explorer table tr:nth-child(odd) {
            background-color: var(--set-background-color-1);
        }

        #set-explorer table tr:nth-child(even) {
            background-color: var(--set-background-color-2);
        }

        .selected { /* selected set */
            background-color: var(--selected-set-background-color) !important;
        }

    #set-explorer-bottom-bar {
        grid-row: 3;
        display: grid;
    }

        #set-explorer-bottom-bar button {
            color: var(--text-color);
            background-color: var(--box-background-color);
            font-size: 0.75em;
            border: 2px solid var(--title-background-color);
            border-left: none;
            border-right: none;
            border-bottom: none;
            padding: 6px;
            text-align: center;
            vertical-align: middle;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            overflow: hidden;
        }

        #new-set {
            grid-row: 1;
            grid-column: 1;
        }

        #edit-set {
            grid-row: 2;
            grid-column: 1;
        }

        #load-sets {
            grid-row: 3;
        }

        #download-sets {
            grid-row: 4;
            
        }

/* General center column --------------------------------------------------- */

#center-column {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 1%;
    min-width: min(98%, 360px);
    max-width: 98%;
}

/* Word display ------------------------------------------------------------ */

    #word-display {
        height: 48vh;
        min-height: 120px;
        max-height: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--box-background-color);
    }

        #word-display p {
            text-align: center;
            vertical-align: middle;
            background-color: transparent;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            align-items: center;
        }

        #prompt-display {
            font-size: 2.4em;
            box-sizing: border-box;
            height: 40%;
            margin-top: 5%;
        }

        #answer-display {
            font-size: 1.2em;
            height: 40%;
            margin-bottom: 5%;
        }

/* Input box --------------------------------------------------------------- */

    #input-div {
        height: 9.6vh;
        max-height: 10%;
        min-height: 36px;
    }

        #input-form {
            background-color: var(--box-background-color);
            border-radius: 6px;
            height: 100%;
        }

        @keyframes correct {
            from {
                background-color: var(--correct-response-background-color);
            }

            to {
                background-color: var(--box-background-color);
            }
        }

        @keyframes incorrect {
            from {
                background-color: var(--incorrect-response-background-color);
            }

            to {
                background-color: var(--box-background-color);
            }
        }
        
        .correct {
            animation: correct 2s;
        }

        .incorrect {
            animation: incorrect 2s;
        }

        #input-box {
            height: 100%;
            width: 100%;
            background-color: transparent;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }

/* Buttons ----------------------------------------------------------------- */

    #buttons {
        height: 4.8vh;
        max-height: 5%;
        min-height: 28px;
        border: 2px solid var(--box-border-color);
        border-radius: 8px;
        display: grid;
    }

        #buttons button {
            background-color: var(--box-background-color);
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-radius: 6px;
        }

/* Settings ---------------------------------------------------------------- */

#prompt-settings {
    height: 33.6vh;
    max-height: 35%;
    min-height: 120px;
    
}

#prompt-settings-interior {
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding: 5% 10%;
}

    #prompt-settings-content {
        height: calc(100% - 40px);
        padding-bottom: 20%;
        width: 100%;
    }

        #select-terms-div {
            border: 2px solid var(--box-border-color);  
            border-radius: 8px;
            margin-top: 10%;
        }

            #select-terms-header {
                display: flex;
                background-color: var(--title-background-color);
                align-items: center;
                border-radius: 6px;
            }

            #select-terms-title {
                font-size: 1em;
                font-weight: normal;
                font-size: 1.2em;
                background-color: transparent;
                padding: 6px;
                height: 35px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                flex: 2;
            }

            #toggle-selection-view-div {
                flex: min(auto, 2);
            }

                #toggle-term-selection-view {
                    box-sizing: content-box;
                    background-color: var(--box-background-color);
                    color: var(--text-color);
                    border: 2px solid var(--box-border-color);
                    margin-right: 6px;
                    padding: 2px;
                }

            #select-terms-table {
                max-height: calc(80% - 35px);
                width: 100%;
                overflow-y: scroll;
            }

                #selected-terms-table th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                #select-terms-table {
                    width: 100%;
                    border-collapse: collapse;
                }

                    .select-terms-header {
                        font-weight: normal;
                        text-align: left;
                    }

                        #select-header-terms, #select-header-defs {
                            width: auto;
                        }


                        #select-header-checkboxes {
                            width: 16px;
                        }

                    #select-terms-table tr:nth-child(2n + 3) {
                        background-color: var(--set-background-color-2);
                    }

                    #select-terms-table tr:nth-child(even) {
                        background-color: var(--set-background-color-1);
                    }

                    #select-terms-header-row {
                        background-color: var(--title-background-color);
                    }

                    .select-terms-row-odd {
                        background-color: var(--set-background-color-1);
                    }

                    .select-terms-row-even {
                        background-color: var(--set-background-color-2);
                    }
        
        #prompt-settings-form {
            line-height: 1.75;
        }

            #prompt-settings-form table {
                width: 100%;
            }

            #prompt-settings-form tr, td, table {
                border: none;
            }
            
            prompt-settings-form tr td input {
                text-align: center;
            }

            .radio {
                padding-left: 2em;
            }

            #prompt-delay {
                width: 56px;
                background-color: var(--box-background-color);
                color: var(--text-color);
                border: 1px solid var(--box-border-color);
                border-radius: 4px;
                padding-left: 4px;
            }
                    

/* Explainer --------------------------------------------------------------- */ 

#explainer {
    flex: 1;
    max-width: 98%;
}

    #explainer p {
        padding: 6px;
    }

    #explainer a {
        color: var(--link-color);
    }

    #explainer h2 {
        font-weight: normal;
        font-size: 1.2em;
        padding: 6px;
    }

    #explainer ul {
        padding: 6px;
        padding-top: 0;
        padding-left: 24px;
        list-style-type: "- ";
    }

/* Set Builder ------------------------------------------------------------- */ 

#set-builder {
    position: absolute;
    height: 98vh;
    width: 98vw;
    max-width: 2500px;
    max-height: 3400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: var(--site-background-color);
}

    #set-builder h1 {
        border: 2px solid var(--box-border-color);
        border-radius: 8px;
    }

    #set-form {
        flex: 1000;
        display: flex;
        flex-direction: column;
        gap: 1%;
        margin: 1% 0;
        overflow: auto;
    }

        .set-form-div {
            background-color: var(--box-background-color);
            border: 2px solid var(--box-border-color);
            border-radius: 8px;
            overflow: hidden;
        }

        .set-builder-header {
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: var(--title-background-color);
        }

            .set-builder-header p {
                white-space: nowrap;
                background-color: var(--title-background-color);
                overflow: clip;
                height: 100%;
                flex: auto;
                text-align: right;
                padding-right: 0.5em;
                color: var(--error-color);
            }

        #set-form label {
            display: inline-block;
            width: 100%;
            background-color: var(--title-background-color);
            overflow: hidden;
            padding: 4px;
            padding-bottom: 0px;
            height: 28px;
            flex: 1;
        }

        #set-form input {
            background-color: transparent;
            width: 100%;
            padding: 6px;
        }

        #set-form textarea {
            resize: none;
            overflow-y: scroll;
            background-color: transparent;
            height: calc(100% - 28px);
            width: 100%;
            padding: 4px;
        }

        #set-title {
            flex: 1;
            min-height: 64px;
            overflow: hidden;
        }

        #set-description {
            flex: 3;
            min-height: 56px;
        }

            /* I have no idea why this is necessary */
            #set-description-input {
                margin-top: -4px;
            }

        #set-data {
            flex: 6;
            min-height: 56px;
        }

    #set-builder-bottom-bar {
        flex: auto;
        display: flex;
    }

        #set-builder-bottom-bar button {
            color: var(--text-color);
            background-color: var(--box-background-color);
            flex: 1;
            font-size: 16px;
            border: 2px solid var(--title-background-color);
            box-sizing: content-box;
            padding: 20px;
        }
